* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  overflow-x: hidden;
}

h1 {
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #fff;
}

h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #fff;
}

h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
}

h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #fff;
}

h5 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
}

h6 {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #fff;
}

p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #fff;
}

.btn-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
}

.btn {
  padding: 10px 36px;
}

.container {
  max-width: 1080px;
  margin: auto;
}

.desktop-h2 {
  display: none;
}

.head-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #fff;
}

.header {
  background-image: url(img/header-bg.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header .nav {
  background: #252B42;
  padding: 30px;
  display: block;
}

.header .nav .navbar-brand {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
}

.header .nav .mobile-bar-buttons a img {
  width: 24px;
}

.header .nav .mobile-bar-buttons button {
  background-color: #fff;
}

.header .nav .mobile-bar-buttons .shopping-icon {
  margin: 0 5px;
}

.header .nav .right-nav {
  display: none;
}

.header .nav .navbar-nav {
  padding: 63px 0 35px;
}

.header .nav .navbar-nav .nav-item {
  padding: 8px 0;
}

.header .nav .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 30px;
  text-align: center;
}

.header .container .row {
  padding: 80px 0;
}

.header .container .row .col-md-8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .row h1 {
  font-size: 36px;
  text-align: center;
  padding: 0 50px;
  line-height: 57px;
}

.header .container .row h4 {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  padding: 40px 67.5px;
}

.header .container .row .btn-group {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .row .btn-group .btn {
  margin-top: 25px;
  border-radius: 37px;
}

.header .container .row .btn-group:nth-child(1n) {
  margin-top: 0;
}

.features {
  background-color: #252B42;
}

.features .container {
  padding: 0 26px;
}

.features .container .row {
  padding: 70px 16.5px;
}

.features .container .row .col-md-4 {
  margin-top: 30px;
}

.features .container .row .col-md-4 .card {
  background: transparent;
  border: none;
  padding: 40px 50px;
}

.features .container .row .col-md-4 .card img {
  width: 72px;
}

.features .container .row .col-md-4 .card h5 {
  color: #fff;
}

.features .container .row .col-md-4:nth-child(1n) {
  margin-top: 0;
}

.testimonials-3 {
  background: #8EC2F2;
}

.testimonials-3 .container {
  padding: 40px 42px;
}

.testimonials-3 .container .row {
  padding: 0 20px;
}

.testimonials-3 .container .row:nth-child(1n) {
  margin-top: 45px;
}

.testimonials-3 .container .row:nth-child(2n) {
  margin-top: 60px;
}

.testimonials-3 .container .row .top-text {
  color: #fff;
}

.testimonials-3 .container .row .card .card-img-top {
  display: none;
}

.testimonials-3 .container .row .card .card-body {
  padding: 30px 40px;
}

.testimonials-3 .container .row .card h5 {
  text-align: left;
}

.testimonials-3 .container .row .card .stars {
  margin: 15px 0;
}

.testimonials-3 .container .row .col-md-6:nth-child(2n) {
  margin-top: 30px;
}

.testimonials-3 .container .row .col-md-6 p {
  color: #737373;
}

.content-4 {
  background: #252B42;
}

.content-4 .container-fluid {
  padding: 30px 42px;
}

.content-4 .container-fluid .header-row {
  margin-top: 45px;
  padding: 0 40px;
}

.content-4 .container-fluid .header-row .main-content {
  padding: 0 9px;
}

.content-4 .container-fluid .header-row .main-content p {
  margin: 30px 0;
}

.content-4 .container-fluid .card-row .col-md-3 {
  margin-top: 30px;
}

.content-4 .container-fluid .card-row .col-md-3 .card-img-overlay {
  padding: 0 20px 30px;
}

.content-4 .container-fluid .card-row .col-md-3 h5 {
  text-align: left;
  margin: 0;
}

.content-4 .container-fluid .card-row .col-md-3 h3 {
  color: #fff;
  margin: 15px 0;
  text-shadow: 0px 13px 19px rgba(0, 0, 0, 0.452);
}

.content-4 .container-fluid .card-row .col-md-3 a {
  border-radius: 37px;
}

.content-5 {
  background: #252B42;
}

.content-5 .container {
  padding: 40px 42px;
}

.content-5 .container .header-row {
  margin-top: 105px;
  padding: 0 40px;
}

.content-5 .container .pricing-row {
  margin-top: 103px;
}

.content-5 .container .pricing-row .col-md-4 {
  margin-top: 30px;
}

.content-5 .container .pricing-row .col-md-4:nth-child(1) {
  margin-top: 0;
}

.content-5 .container .pricing-row .col-md-4 .card {
  padding: 20px 0;
  border: 1px solid #23A6F0;
  border-radius: 10px;
}

.content-5 .container .pricing-row .col-md-4 .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-5 .container .pricing-row .col-md-4 .card .card-body .card-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
}

.content-5 .container .pricing-row .col-md-4 .card .card-body .silver-circle {
  width: 90px;
  position: absolute;
  top: -5%;
  left: 65%;
}

.content-5 .container .pricing-row .col-md-4 .card .card-body .text1 {
  font-size: 20px;
  margin-top: 35px;
  color: #737373;
}

.content-5 .container .pricing-row .col-md-4 .card .card-body .text2 {
  margin-top: 35px;
  color: #23A6F0;
}

.content-5 .container .pricing-row .col-md-4 .card .card-body .text3 {
  color: #8EC2F2;
}

.content-5 .container .pricing-row .col-md-4 .card .card-body .btn {
  margin-top: 15px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.content-5 .container .pricing-row .col-md-4 .card .card-body ul {
  margin-top: 25px;
  padding: 0;
}

.content-5 .container .pricing-row .col-md-4 .card .card-body ul li {
  padding: 8px 0;
}

.content-5 .container .pricing-row .col-md-4 .card .card-body ul li img {
  width: 30px;
  margin-right: 17.5px;
}

.contact {
  background-image: url(img/concact-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact .container {
  padding: 30px 42px;
}

.contact .container .col-md-7 {
  padding: 0 19px;
  margin-top: 45px;
}

.contact .container .header-text h5 {
  text-align: left;
}

.contact .container .header-text h2 {
  color: #252B42;
}

.contact .container .card-content {
  margin-top: 40px;
}

.contact .container .card-content .mb-3 .input2,
.contact .container .card-content .mb-3 .select2,
.contact .container .card-content .mb-3 textarea {
  margin-top: 20px;
}

.footer-top .container {
  padding: 0 31px;
}

.footer-top .container .row {
  padding: 40px 54.5px;
}

.footer-top .container .row p {
  color: #252B42;
}

footer {
  background: #252B42;
}

footer .container {
  padding: 5px 87px;
}

footer .container .row {
  padding: 20px 0 50px;
}

footer .container .row h5 {
  text-align: left;
  color: #fff;
}

footer .container .row .col-md-2,
footer .container .row .col-md-4 {
  margin-top: 30px;
}

footer .container .row .col-md-2 ul,
footer .container .row .col-md-4 ul {
  padding: 0;
}

footer .container .row .col-md-2 ul li,
footer .container .row .col-md-4 ul li {
  margin: 5px 0;
}

footer .container .row .col-md-2 ul li a,
footer .container .row .col-md-4 ul li a {
  text-decoration: none;
  color: #fff;
}

footer .container .row .col-md-2 ul li a img,
footer .container .row .col-md-4 ul li a img {
  margin-right: 10px;
}

footer .container .row .col-md-2 ul li:hover,
footer .container .row .col-md-4 ul li:hover {
  text-decoration: underline;
}

.footer-bottom {
  background: #252B42;
}

.footer-bottom .container {
  padding: 25px 0;
}

.footer-bottom .container .row {
  padding: 25px 90px;
}

.footer-bottom .container .row .desktop-icon {
  display: none;
}

.footer-bottom .container .row .mobile-icon a {
  margin: 0 10px;
}

/*Media Query */
@media (min-width: 768px) {
  .testimonials-3 .container .row .col-md-6:nth-last-child(1) {
    margin-top: 0;
  }
  .content-4 .card-img-overlay {
    padding: 0 0 0 0;
  }
  .content-4 .card-img-overlay h5 {
    font-size: 14px;
  }
  .content-4 .card-img-overlay h3 {
    display: none;
  }
  .content-4 .card-img-overlay a {
    padding: 5px 10px;
  }
  .content-5 .container .pricing-row .col-md-4 {
    margin-top: 0;
  }
  .footer-top .container .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-bottom {
    background: #fff;
  }
  .footer-bottom .container .row p {
    color: #252B42;
  }
  .footer-bottom .container .row .desktop-icon {
    display: block;
    text-align: right;
  }
  .footer-bottom .container .row .desktop-icon a {
    margin: 0 5px;
  }
  .footer-bottom .container .row .mobile-icon {
    display: none;
  }
}

@media (min-width: 992px) {
  h2 {
    display: none;
  }
  .desktop-h2 {
    display: block;
  }
  .head-text {
    padding: 0 300px;
    text-align: center;
  }
  .header .nav {
    background: none;
    max-width: 1080px;
    margin: auto;
    padding: 5px 0;
  }
  .header .nav .navbar-brand {
    padding: 13px 42px 13px 0;
  }
  .header .nav .mobile-bar-buttons {
    display: none;
  }
  .header .nav .right-nav {
    display: block;
  }
  .header .nav .right-nav .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .nav .right-nav .navbar-nav li .btn {
    font-size: 14px;
  }
  .header .nav .collapse .navbar-nav {
    padding: 0 0px 0 15px;
  }
  .header .nav .collapse .navbar-nav .nav-item {
    padding: 8px 3px;
  }
  .header .nav .collapse .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-size: 14px;
    text-align: center;
  }
  .header .container {
    max-width: 1080px;
  }
  .header .container .row {
    padding: 132px 0 105px;
  }
  .header .container .row h1 {
    font-size: 58px;
    text-align: left;
    padding: 0;
    line-height: 80px;
  }
  .header .container .row h4 {
    text-align: left;
    padding: 30px 205px 3px 0;
  }
  .header .container .row .btn-group {
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .header .container .row .btn-group .btn {
    margin-top: 25px;
    border-radius: 37px;
    padding: 15px 36px;
    font-size: 14px;
  }
  .header .container .row .btn-group:nth-child(1n) {
    margin-top: 0;
  }
  .header .container .row .btn-group .learn-btn {
    margin-left: 10px;
  }
  .features {
    padding: 20px 0 0 0;
  }
  .features h5 {
    margin-top: 15px;
  }
  .testimonials-3 .container {
    max-width: 1137px;
    margin: auto;
    padding: 70px 0 112px;
  }
  .testimonials-3 .container .row .col-md-6 {
    padding: 40px 24px 33px 92px;
  }
  .testimonials-3 .container .row .col-md-6 .card-img-top {
    display: block;
    position: absolute;
    left: -45px;
    top: 15px;
  }
  .content-4 .container-fluid {
    padding: 70px 18px 112px 18px;
  }
  .content-4 .card-row {
    margin-top: 15px;
  }
  .content-4 .card-img-overlay h3 {
    display: block;
  }
  .content-5 .container {
    padding: 5px 42px 153px;
  }
  .content-5 .container .pricing-row {
    margin-top: 80px;
  }
  .content-5 .container .pricing-row .col-md-4 .card .card-body .text2 {
    display: block;
  }
  .content-5 .container .pricing-row .col-md-4 .card .card-body .btn {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .contact .container {
    padding: 25px 0px 70px;
  }
  .contact .container .card-content .selects {
    margin-top: 20px;
  }
  .contact .container .card-content .mb-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact .container .card-content .mb-3 .input2,
  .contact .container .card-content .mb-3 .select2 {
    margin-top: 0;
  }
  .contact .container .card-content .mb-3 .input2,
  .contact .container .card-content .mb-3 .select2 {
    margin-left: 10px;
  }
  .contact .container .card-content .mb-3 textarea {
    margin-top: 20px;
  }
  .contact .container .card-content .btn {
    margin-top: 40px;
  }
  .footer-top .container .row {
    padding: 40px 0;
  }
  footer .container {
    padding: 50px 0;
  }
  footer .container .row {
    margin: 0;
    padding: 0cm;
  }
  footer .container .row .col-md-2,
  footer .container .row .col-md-4 {
    padding: 0 10px;
    margin-top: 0;
  }
  footer .container .row .col-md-2 ul li,
  footer .container .row .col-md-4 ul li {
    margin-top: 10px;
  }
}

@media (max-width: 375px) {
  .header nav {
    padding: 0;
  }
  .header nav .container-fluid {
    padding: 0%;
  }
  .header nav .container-fluid .mobile-bar-buttons button {
    padding: 4px;
    font-size: 14px;
  }
  .header nav .container-fluid .navbar-brand {
    font-size: 20px;
  }
  .contact h2 {
    font-size: 30px;
  }
}
/*# sourceMappingURL=style.css.map */